@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

/* base styles */
* {
  margin: 0;
  font-family: "Quicksand";
  color: #333;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  border-bottom: 1px solid #f2f2f2;
}
.navbar h1 {
  color: #f1356d;
}
.navbar .links {
  margin-left: auto;
}
.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
  color: aliceblue;
  transition-duration: 200;
}
.navbar a:hover {
  color: #f1356d;
  text-decoration: underline;
  font-weight: bold;
}
.content {
  max-width: 600px;
  margin: 40px auto;
  padding: 20px;
}

/* posts previews / list */
.blog-preview {
  padding: 10px 16px;
  margin: 20px 0;
  border-bottom: 1px solid #fafafa;
}
.blog-preview:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.blog-preview h2 {
  font-size: 20px;
  color: #f1356d;
  margin-bottom: 8px;
}

/* .auth-form-container, .login-form, .register-form {
  display: flex;
  flex-direction: column;
} */

.auth-form-container {
  /* display: flex;
  flex-direction: column; */
  border:1px solid rgb(63, 59, 59);
  /* background-color: blue; */
  width: 15vw;
  height: 35vh;
  /* margin-top: 15rem ; */
  color: white;
}
.login-form{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
}

.register-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: 2rem;
}
/* //diffrent screen size */
@media screen and (min-width: 600px) {
  .auth-form-container {
    padding: 5rem;
    /* border: 1px solid white; */
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    margin: 0.5rem;
  }
}

label{
  text-align: left;
  padding: 0.25rem 0;
  color: white;
  font-weight: 600;
}

input {
  box-sizing: border-box;
  position: relative;
  width: 292px;
  height: 39px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  padding: 0 1rem;
}

/* button {
  border: none;
  background-color:#010922;
  padding: 20px;
  border-radius: 10px;
  cursor: pointer;
  color: white;
} */

.link-btn-login {
 
margin-top: 2rem;
color: white;
font-weight: bold;
}